:root {

  font-family: Arial, Helvetica, sans-serif;

  color: #333;

  background: #f3f4f6;

  font-synthesis: none;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

}



* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}



html {

  min-height: 100%;

}



body {

  min-height: 100vh;

  width: 100%;

  background: #f3f4f6;

}



#root {

  min-height: 100vh;

  width: 100%;

}



/* =========================
   TÍTULOS
========================= */

h1,
h2,
h3,
h4 {

  color: #111827;

}



/* =========================
   LINKS
========================= */

a {

  text-decoration: none;

  color: inherit;

}



/* =========================
   BOTÕES
========================= */

button {

  font-family: Arial, Helvetica, sans-serif;

  cursor: pointer;

}



/* =========================
   CAMPOS DE FORMULÁRIO
========================= */

input,
select,
textarea,
button {

  font-family: Arial, Helvetica, sans-serif;

}



/* =========================
   IMAGENS
========================= */

img {

  max-width: 100%;

  display: block;

}